<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leoren.play.dao.AttractionMapper" >
  <resultMap id="BaseResultMap" type="com.leoren.play.pojo.Attraction" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="attractioname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="text" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="picture" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, attractioname, text, picture
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from attraction
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from attraction
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.leoren.play.pojo.Attraction" >
    insert into attraction (id, attractioname, text, 
      picture)
    values (#{id,jdbcType=INTEGER}, #{attractioname,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.leoren.play.pojo.Attraction" >
    insert into attraction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attractioname != null" >
        attractioname,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attractioname != null" >
        #{attractioname,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leoren.play.pojo.Attraction" >
    update attraction
    <set >
      <if test="attractioname != null" >
        attractioname = #{attractioname,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leoren.play.pojo.Attraction" >
    update attraction
    set attractioname = #{attractioname,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from attraction
  </select>
</mapper>